{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ request.form['username'] }}" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="first_name">First Name</label>
    <input type="first_name" name="first_name" id="first_name" value="{{ request.form['first_name'] }}" >
    <label for="last_name">Last_Name</label>
    <input type="last_name" name="last_name" id="last_name" value="{{ request.form['last_name'] }}" >
    <label for="gender">Gender</label>
    <input type="gender" name="gender" id="gender" value="{{ request.form['gender'] }}" >
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{ request.form['email'] }}" >
    <label for="description">Description</label>
    <input type="description" name="description" id="description" value="{{ request.form['description'] }}" >
    <input type="submit" value="Register">
  </form>
{% endblock %}