{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<script type=text/javascript>
    $(function() {
    //   $('a#listings').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/apartment', {}, function(data) {
          $("#result").html('');
          $.each(data, function(index, apartment) {
            $('#result').append('<header><div><h2>Apartment ID: ' + apartment.apartment_id + '</h2></div></header>' 
            + '<p class="body">treet_address: '+ apartment.street_address 
            + ', zipcode: '+ apartment.zip + '</p>');
				  });
        });
        return false;
    //   });
    });
  </script>

<span><span id=result>
    </span></span>

{% endblock %}