{% extends 'base.html' %}


{% block content %}
<script type=text/javascript>
    $(function() {
        let url = $SCRIPT_ROOT + '/nest/' + {{apartmentId}} + '/notFullNest'
        $.getJSON(url, {}, function(data) {
          $("#result").html('<tr><th>Total Room</th><th>Registered Users</th><th>Join</th></tr>');
          $.each(data, function(index, nest) {
            var userlist = ''
            $.each(nest.users, function(index, user) {
              userlist = userlist + user.username + ' '
            });
            $('#result').append(
              '<tr><td>' + nest.room_number + '</td><td>' 
              + userlist + '</td><td>'
              + '<button id="reservation' + nest.nest_id + '">Make reservation</butt></td></tr>');
            var local_url = $SCRIPT_ROOT + '/reservation/create/nest_id/' + nest.nest_id
            $('#reservation' + nest.nest_id).bind('click', function() {
              $.post(local_url, {}, function( data ) {});
            });
				  });
        });
        let creatUrl = $SCRIPT_ROOT + '/nest/' + {{apartmentId}} + '/create'
        $('#create').bind('click', function() {
          $.post(creatUrl, {}, function( data ) {});
        });
        return false;
    });
  </script>

<p><button id=create> Create new nest</button></p>
<h1>Available Nest</h1>
<div><table id=result></table></div>

{% endblock %}