{% extends 'base.html' %}


{% block content %}
<script type=text/javascript>
    $(function() {
        let url = $SCRIPT_ROOT + '/nest/' + {{apartmentId}} + '/fullNest'
        $.getJSON(url, {}, function(data) {
          $("#result").html('<tr><th>Total Room</th><th>Registered Room</th><th>Status</th><th>Decision</th></tr>');
          $.each(data, function(index, nest) {
            var local_url = $SCRIPT_ROOT + '/nest/' + nest.nest_id + '/update'
            $('#result').append(
              '<tr><td>' + nest.room_number + '</td><td>' 
              + nest.user_number + '</td><td>'
              + nest.status + '</td><td>' 
              + "<button id=approve>Approve</button>   <button id=reject>Reject</button></td><tr>");
            $('#approve').bind('click', function() {
              $.post(local_url, {decision: 'APPROVED'}, function( data ) {});
            });
            $('#reject').bind('click', function() {
              $.post(local_url, {decision: 'REJECTED'}, function( data ) {});
            });
				  });
        });
        return false;
    });
  </script>

<h1>Full Nest</h1>
<div><table id=result></table></div>

{% endblock %}