{% extends 'base.html' %}


{% block content %}
<script type=text/javascript>
    $(function() {
        let url = $SCRIPT_ROOT + '/nest/' + {{apartmentId}} + '/fullNest'
        $.getJSON(url, {}, function(data) {
          $("#result").html('<tr><th>Total Room</th><th>Status</th><th>Registered Users</th><th>Decision</th></tr>');
          $.each(data, function(index, nest) {
            var userlist = ''
            $.each(nest.users, function(index, user) {
              userlist = userlist + user.username + ' '
            });
            var local_url = $SCRIPT_ROOT + '/nest/' + nest.nest_id + '/update'
            $('#result').append(
              '<tr><td>' + nest.room_number + '</td><td>' 
              + nest.status + '</td><td>' 
              + userlist + '</td><td>'
              + '<button id="approve' + nest.nest_id + '">Approve</button>');
            $('#approve' + nest.nest_id).bind('click', function() {
              $.post(local_url, {decision: 'APPROVED'}, function( data ) {});
            });
				  });
        });
        return false;
    });
  </script>

<h1>Full Nest</h1>
<div><table id=result></table></div>

{% endblock %}