{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Apartment List{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('apartment.create') }}">New</a>
{% endif %} {% endblock %} {% block content %} {% for apartment in apartments %}
<article class="post">
  <header>
    <div>
      <h1
              class="action"
      href="{{ url_for('apartment.browse', apartmentId=apartment['apartment_id']) }}"
      >{{ apartment["name"] + " " + "B" + "B" }}</h1>
      <div class="about">
        by {{ apartment["landlord_id"] }} on
        {{ apartment["created"].strftime("%Y-%m-%d") }}
      </div>
    </div>
    {% if g.user['user_id'] == apartment['landlord_id'] %}
    <a
      class="action"
      href="{{ url_for('apartment.update', apartmentId=apartment['apartment_id']) }}"
      >Edit</a
    >
    {% endif %}
  </header>
  <p class="body">{{ apartment["description"] }}</p>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
