{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Listings{% endblock %}</h1>
{% endblock %}

{% block content %}

  <script type=text/javascript>
    $(function() {
        $.getJSON($SCRIPT_ROOT + '/apartment/ownerList',function(data) {
            $("#result").html('');
            $.each(data, function(index, apartment) {
              var id = apartment.apartment_id;
              
              $('#result').append('<header><div><h2>Apartment ID: ' + id
              +" "
              + '<button type="button" id="btn_' + id + '"> Details </button>'
              + '</h2></div></header>' 
              + '<p class="body">Street_address: '+ apartment.street_address 
              + ', Zipcode: '+ apartment.zip + '</p>');
              
              $('#btn_' + id).click(() => {
                var link_full = "/nest/"+id+"/fullNest";
                var link_notFull = "/nest/"+id+"/notFullNest";
                // TODO: May add btn for approve funtion and call other related API
                // This is to render fullNest
                  $.getJSON($SCRIPT_ROOT + link_full, function(data) {
                      $("#result").append(
                        "<header><div><h3>This is the Full Nests infor for ApartmentID: "+ id);
                      $.each(data, function(index, full) {
                        $('#result').append('<header><div><h4>Full Nest ID: ' + full.nest_id
                        + '</h2></div></header>' 
                        + '<p class="body">Room Number: '+ full.room_number
                        + ', User Number: '+ full.user_number + '</p>');
                      });
                  });
                  // This is to render notFull Nests
                  $.getJSON($SCRIPT_ROOT + link_notFull, function(data) {
                    $("#result").append("-----------------------------------------------------------------------");
                    $("#result").append(
                        "<header><div><h3>This is the Not Full Nests for ApartmentID: "+ id);
                      $.each(data, function(index, notFull) {
                        $('#result').append('<header><div><h4>Not_Full Nest ID: ' + notFull.nest_id
                        + '</h2></div></header>' 
                        + '<p class="body">Room Number: '+ notFull.room_number
                        + ', User Number: '+ notFull.user_number + '</p>');
                      });
                    $("#result").append("----------------------------------------------------------------------");
                  });
              });
            
            });
        });
    })
   
  </script>
 <!-- <p><input type=text size=5 name=zipcode>  <a href=# id=search> search by zipcode</a><p></p> -->
    <span><span id=result>

    <span><span id=result_nest>
    <span><span id=notfull>
    </span></span>
    
    <!-- {% for apartment in result %} -->
     <!-- <article class="apartment"> -->
       <!-- <header> -->
         <div>
           <h1>apartment id: {{ apartment['apartment_id'] }}</h1>
           <!-- <div class="about"> {{ apartment['street_address'] }} listed on {{ apartment['created'].strftime('%Y-%m-%d') }}</div> -->
         </div>
         <!-- {% if g.user['id'] == post['author_id'] %}
           <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
         {% endif %} -->
       <!-- </header> -->
       <p class="body">{{ apartment['sqft'] }}</p>
     <!-- </article> -->
     <!-- {% if not loop.last %}
       <hr>
     {% endif %}
    
   {% endfor %}  -->
{% endblock %}
</section>