
{% extends 'base.html' %}


{% block content %}
<script type=text/javascript>
    $(function() {
        let url = $SCRIPT_ROOT + '/apartment/reserveList'
        $.getJSON(url, function(data) {
          $("#result").html('<tr><th>Reservation ID</th><th>Apartment Name</th><th>Nest ID</th><th>Nest Status</th><th>Action</th></tr>');
          $.each(data, function(index, apartment) {
              var id = apartment.reservation_id
              console.log("apartment")
              console.log(apartment)
              console.log("apartment")
              var apt_name = apartment.name1
              var nid = apartment.nest_id
              var nest_status = apartment.status

            $('#result').append(
              '<tr><td>' + id + '</td>' +
                '<td><button id="aptname">apt_name</butt></td>' +
                '<td><button id="nestid">nid</butt></td>'+
                    '<td>' + nest_status + '</td></tr>'
{#                {% block if %}#}
{#                {% if nest_status == 'PENDING' %}#}
{#                    '<td> <button type="button">Cancel</butt> </td></tr>'#}
{#                {% elif nest_status == 'REJECTED' %}#}
{#                    '<td><button type="button" disabled>Cancel</butt>  </td></tr>'#}
{#                {% else nest_status == 'APPROVED' %}#}
{#                    '<td><button type="button">Accept</butt>  </td></tr>'#}
{#              {% endif %}#}
            );
        });
    })});
  </script>

<h1>My Reservations</h1>
<div><table id=result></table></div>

{% endblock %}
