{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ apartment['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Title</label>
    <input name="name" id="name" value="{{ request.form['name'] or apartment['name'] }}" required>
{#    <label for="room_number">Details</label>#}
{#      <input name="room_number" id="room_number" value="{{ request.form['room_number'] or apartment['room_number'] }}">#}
{#      <input name="bathroom_number" id="bathroom_number" value="{{ request.form['bathroom_number'] or apartment['bathroom_number'] }}">#}
{#      <input name="street_address" id="street_address" value="{{ request.form['street_address'] or apartment['street_address']}}">#}
{#      <input name="city" id="city" value="{{ request.form['city'] or apartment['city']}}">#}
{#      <input name="state" id="state" value="{{ request.form['state'] or apartment['state']}}">#}
{#      <input name="zip" id="zip" value="{{ request.form['zip'] or apartment['zip']}}">#}
{#      <input name="price" id="price" value="{{ request.form['price'] or apartment['price']}}">#}
{#      <input name="sqft" id="sqft" value="{{ request.form['sqft'] or apartment['sqft']}}">#}
{#      <input name="photo_URL" id="photo_URL" value="{{ request.form['photo_URL'] or apartment['photo_URL']}}">#}
{#    <textarea name="description" id="description">{{ request.form['description'] or apartment['description'] }}</textarea>#}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('apartment.delete', apartmentId=apartment['apartment_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}